.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
.cardContainer{
    width: 650px;
    min-height: 100px;
    z-index: 1;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
}
.button{
    float: right;
}
.message{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 10px;
}