.usercontainer{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #0000004a;
}
.view{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.name{
    width: 40%;
    text-transform: capitalize;
}